.table {
	width: 100%;
	background-color: #303030;
	border-radius: 5px;
}

.thead {
	width: 100%;
	text-align: left;
	color: #fff;
	border-radius: 5px;
}

.trHead .trBody {
	vertical-align: top;
}

.trBody:nth-child(odd) {
	/* background-color: #f4f4f5; */
	/* border-bottom: 2px solid #fff; */

	background-color: #fff;
	border-bottom: 1px solid #585858;

	box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
		rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.trBody:nth-child(even) {
	/* background-color: rgb(221, 221, 221); */
	/* border-bottom: 2px solid #fff; */
	background-color: #fff;
	border-bottom: 1px solid #585858;
	box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
		rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.trBody:last-child {
	border-bottom: none;
}

.trBody:hover {
	background-color: #eeeeee;
}

.th,
.td {
	padding: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 0.9rem;
}

.th:nth-child(1),
.td:nth-child(1) {
	max-width: 250px;
}

.th:nth-child(2),
.td:nth-child(2) {
	max-width: 250px;
}

.th:nth-child(3),
.td:nth-child(3) {
	min-width: 60px;
}

.th:nth-child(4),
.td:nth-child(4) {
	max-width: 120px;
}

.th:nth-child(8),
.td:nth-child(8) {
	padding: 0;
	padding-right: 2px;
}
